<strong class="s_as__ability-panel__strong">{{ localize label }}</strong> :
{{#if editMode }}<br>{{/if}}
{{#unless items.length}}{{ localize 'SUPERS.none' }}{{/unless}}

{{#each items}}

    {{#if ../this.editMode }}

        <span class="s_as__inline_popup__title">
            {{s_i_i18n this}}
            {{> (cmp 'delete-btn') this action='delete-item' title='SUPERS.delete'}}
        </span>
        <span class="s_as__dis-advantage-panel__input">
            {{localize 'SUPERS.Rating'}}
            {{> (cmp 'inline-edit') this value=system.rating field='system.rating' cmpClass='item__rating' }}

            {{localize 'SUPERS.Note'}}
            {{> (cmp 'inline-edit') this value=system.note field='system.note' cmpClass='item__note' placeholder='SUPERS.Note' }}
        </span>

    {{else}}

        <span class="">
            {{s_i_i18n this}}
            [{{system.rating}}{{localize 'SUPERS.D'}}]
            {{#if system.note}}(<em class="note">{{system.note}}</em>){{/if}}
            {{#unless @last}},{{/unless}}
        </span>

    {{/if}}


{{/each}}
