<div class="roll-header">
    <img src="{{actor.img}}" alt="">
    <div class="roll-result-row">
        <div class="roll-info">
            <span class="actor-name"> {{actor.name}}</span>
            <span class="rollaction-label">{{rollaction}}</span>
        </div>
        <span class="roll-result">{{sum}}</span>
    </div>
</div>


<div class="roll-details">
    <div class="roll-details-used">
        <ul class="roll-list">
            {{#each usedDice as |d idx|}}
                <li class="used-dice{{#if d.isChaos}} chaos-dice{{/if}}" {{#if d.isChaos}}title="chaos dice"{{/if}}>
                    {{d.value}}
                </li>
            {{/each}}
        </ul>
        {{#if unusedDice}}
            <span class="roll-details-label">{{ localize 'SUPERS.counted' }}</span>
        {{/if}}
    </div>

    <div class="roll-details-unused">
        {{#if unusedDice}}
            <ul class="roll-list">
                {{#each unusedDice as |d idx|}}
                    <li class="rest-dice{{#if d.isChaos}} chaos-dice{{/if}}">
                        {{d.value}}
                    </li>
                {{/each}}
            </ul>
            <span class="roll-details-label">{{ localize 'SUPERS.uncounted' }}</span>
        {{/if}}
    </div>

</div>

