<a data-rolld6="{{amount}}"
   data-rollaction="{{rollaction}}"
   {{#if dicemax}}data-dicemax="{{dicemax}}"{{/if}}
   title="{{localize 'SUPERS.RollFor'}} {{rollaction}}">
    <img src="icons/svg/d20-highlight.svg">
</a>
