<a class="s_as_diceroller{{#if type}} {{type}}{{/if}}"
   data-rolld6="{{amount}}"
   data-rollaction="{{rollaction}}"
   {{#if dicemax}}data-dicemax="{{dicemax}}"{{/if}}
   title="{{localize 'SUPERS.RollFor'}} {{rollaction}}">
    {{amount}}{{localize 'SUPERS.D'}}
</a>
