<a class="cmp cmp-btn s_bnt_add{{#if active}} active{{/if}}" data-action="{{action}}"
   {{#if type}}data-type="{{type}}"{{/if}}
    {{#if _id}}data-id="{{_id}}"{{/if}}
    {{#if index}}data-index="{{index}}"{{/if}}
    {{#if title}}title="{{ localize title }}"{{/if}}>
    <i class="fas fa-pen"></i>
    {{#if label}}{{ localize label }}{{/if}}
</a>
